img{
    width: 300px;
    height: 500px;
    background-color: aqua;
}
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
html, body, .container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color:blanchedalmond;
}
.photo{
    width: 4vw;
    height: 4vw;
    padding: 1vw;
    margin: 0.5vw;
}

.heading{
    padding: 10px;
}
.pic{
    padding: 1vw;
}
.demo{
    color: rebeccapurple;
    text-align: center;
}
.roses{
    text-align: center;
}