<<<<<<< HEAD
html, body, .container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
}

.heading{
    padding: 10px;
}
.pic{
    padding: 1vw;
=======
html,body,.container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.demo{
    color: rebeccapurple;
    text-align: center;
}
.roses{
    text-align: center;
>>>>>>> master
}